Assigned Access Designer/Source/AssignedAccessDesigner/Assets/Schemas/AssignedAccess_202010.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           vc:minVersion="1.1"
           xmlns="http://schemas.microsoft.com/AssignedAccess/202010/config"
           xmlns:default="http://schemas.microsoft.com/AssignedAccess/202010/config"
           targetNamespace="http://schemas.microsoft.com/AssignedAccess/202010/config">

	<xs:complexType name="deviceOwnerGroup_t">
		<xs:attribute name="Name" type="xs:string" fixed="DeviceOwner"/>
	</xs:complexType>

	<xs:complexType name="exclusion_t">
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:choice>
				<xs:element name="SpecialGroup" type="deviceOwnerGroup_t" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="Exclusions" type="exclusion_t"/>
</xs:schema>
