Assigned Access Designer/Source/AssignedAccessDesigner/Assets/Schemas/AssignedAccess_2021.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           vc:minVersion="1.1"
           xmlns="http://schemas.microsoft.com/AssignedAccess/2021/config"
           xmlns:default="http://schemas.microsoft.com/AssignedAccess/2021/config"
           targetNamespace="http://schemas.microsoft.com/AssignedAccess/2021/config">

	<xs:attribute name="ClassicAppPath" type="xs:string"/>
	<xs:attribute name="ClassicAppArguments" type="xs:string"/>

	<xs:element name="BreakoutSequence" type="BreakoutSequence_t"/>

	<xs:complexType name="BreakoutSequence_t">
		<xs:attribute name="Key" type="xs:string" use="required"/>
	</xs:complexType>
	</xs:schema>